.DS_Store
*.ipynb
.ipynb_checkpoints/
__pycache__/
debug/
.venv/
.vscode/
tests/test_outputs
*nc.aux.xml
dataset/
**/wandb
src/feedback_model/viirs_classifier/**/*.jpeg
single_file_inference.py
creds.json
tests/test_files/dev/
.coverage
docs/data_card.md
tests/.coverage
tests/test_files/chips/
tests/test_files/full_moon/
tests/test_files/new_moon/
src/feedback_images/
